{
    "extends": "airbnb-base",
     "env": {
        "browser": false,
        "node": true,
        "es6": true,
        "jest": true
    },
    "rules": {
        "arrow-parens": [0],
        "indent": [2, 4, { "SwitchCase": 1, "VariableDeclarator": 1 }],
        "max-len": [0],
        "no-console": [0],
        "no-multi-spaces": [0],
        "no-underscore-dangle": [0],
        "global-require": [0],
        "comma-dangle": [2, {
            "arrays": "ignore",
            "objects": "always",
            "imports": "always",
            "exports": "always",
            "functions": "ignore"
        }],
        "key-spacing": [0],
        "import/extensions": [0]
    }
}
